header{
  background-color: #DCDCDC;
}
h1{
  color: #778899;
  text-align: center;
}

a{
 padding:2px;
 background-color: #FFC0CB;
  color: #8B4513;
}

section{
  background-color:#F4A460;
}
h2{
  color:#4169E1;
}